svg {
  background-color: #F5F3F2;
}

text {
	font-family: Prociono;
}

text.title {
	font-size: 17pt;
	font-weight: bold;
}

text.subTitle,
text.legendText {
	font-size: 12pt;
}


rect.hispanic {
	fill: #FDBF11;
}

rect.nonHispanic {
	fill: #55A7ED;
}